@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html {
    padding-top: 0 !important;
}
html * {
    font-family: 'Open Sans';

h1 {
    font-size: 3.5em;
    font-weight: bolder;
}
h2 {
    font-size:2.7em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 2em;
}
p {
    font-size: 1.5em;
    margin-bottom: 0;
}
.hero-home {
   background-image: url('/./img/1_WidePushLogoHero.png');
background-size: cover;
background-repeat: no-repeat;
margin-top: -55px;
 h1 {
     text-align: center;
     color: #fff;
     font-size: 2rem;
 }
}

.navbar { 
    display: flex;
    height: 50px;
    color: #000;
    background-color: white;
    border-bottom: none;
    box-shadow: 0px 1px 4px #e2e2e2;
    text-decoration: none;
    min-height: 4rem;
 .navbar-brand{
 width: 200px;

}

    .navbar-item {
        color: #000;
    display: flex;
    }
    .navbar-item:hover {
        background: transparent;
        opacity: .5;
        text-decoration:none;
    }
    .button {
        background-color: transparent;
        border: 1px solid #244A5C;
        color: #244A5C;
        margin: auto;
    }
    .button:hover {
        text-decoration: none;
    }
}
.image-text {
    margin-top: 25%;
    padding: 3%;
    @media (max-width: 768px) { 
        margin-top: 5%;
        text-align: center;
        margin: 0 auto;
    }
}
.content-container {
   .h1-black {
       color: #000;
   }
     h1, h3 {
         text-align: center;
         color: white;
     }
    
    .columns:last-child {
    margin-bottom: 0;
    margin:0; 
    }
    p .grid-text{
    display: flex;
    flex: 1,1;
    }
    padding: 5%;
}
    .homepage-container {
        .hero-homepage {
            background-image: url('../img/hero-home.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -55px;
        }
    .img1 {
        background-image: url('/./img/9_elevatorbuttons.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img2 {
        background-image: url('/./img/3_Application.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img3 {
        background-image: url('/./img/12_pushbar.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:1%;
        min-height: 400px;
    }
    .img-container {
        position:relative;
        min-height: 600px;
        padding:5%;
    .img5 {
      width: 20%;
      position: absolute;
      left: 30%;

      @media (max-width: 768px) { 
          left: 4.5%;
          position: relative;
          margin: auto;
          display: block;
          width: 250px;
          min-height: 400px;
      }
     
    }
}
}
.z-form {
    .column {
    padding: 0!important;
    }
}
.section {
    padding:0;
   
    h1 {
        text-align: center;
        padding-bottom: 3%;
    }
    p, h4 {
        padding: 4%;
    }
}
.section--gradient {
    padding: 4% 0;
}
.section-animation {
    height: 65vh;
    .elbowdoor-pic {
        width: 35%;
        background-image: url('/./img/doorhandle-left.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding:2%;
        min-height: 400px;
        position: absolute;
    }
    .handdoor-pic {
        width: 35%;
        background-image: url('/./img/doorhandle-right.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding:2%;
        min-height: 400px;
        position: absolute;
        right: 3%;
    }
    .small {
        width: 25% !important;
    }
    
    img {
        height: 80vh;
    padding: 0;
    margin: 0;
    }
}
.section-animation2 {
    height: 90vh;
    .alwayson-left {
        background-image: url('/./img/alwayson-left.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
        position: absolute;
    }
    .alwayson-right {
        background-color: #244A5C;
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
        position: absolute;
    }
}
    .section-ourstory {
    
        .is-5 {
            background-image: url('/./img/ourstory-img.png');
            background-size: cover;
            background-repeat: no-repeat;
            padding:0;
            min-height: 400px;
        }
        .ourstory-box {
            background-color: #EAEEF0;
            padding: 3%;
        }
        .statistic {
            color: #244A5C;
            text-align: center;
            padding: 0 3%;
        }
        i {
            text-align: center;
            margin: 0 auto;
            display: block;
        }
    }
    .section-howitworks {
        .is-5 {
            padding: 0!important;
        }
        p{
            padding: 1% 5%;
        }
        .howitworks-box {
            background-color: #244A5C;
            color: #fff;
            padding: 5%;
        }
        iframe {
            padding:0;
            margin: 0;
            width: 100%;
            min-height:500px;
        }
    }
    .section-madefor {
        p{
            padding: 0% 5%;
        }
    }
    .section-order-preview {
        background-color: #244A5C;
        color: #fff;
    }
    .section-CTA {
        height: 50vh;
        display: flex;
        justify-content: center;
        background-image: url('/./img/bottom-hero-home.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
        text-align: center;
        min-height: 400px;
        color: #fff;
        padding: 5%;
        h3 {
            margin: 5% auto 5% auto;
        }
    
        .hollow-button-white {
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            padding: 3% 15%;
        }
        .hollow-button-white:hover {
            opacity: .5;
            cursor: pointer;
        }
    }
}
a:hover{
        text-decoration: none !important;
        }
button {
    padding: 3%;
    text-decoration: none;
    p {
        padding: 0;
        font-weight: bold;
    }
}
.hollow-button-blue {
    background-color: transparent;
    border: 1px solid #244A5C;
    color: #244A5C;
    width: 100%;
    
}
.blue-button {
    background-color: #244A5C;
    color: #fff !important;
    border-radius: 4px;
    width: 50%;
    margin: 0 4%;
    text-align: center;
    cursor: pointer;
   
    @media (max-width: 768px) { 
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    
}
.blue-button-full {
    background-color: #244A5C;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.send-order-button {
    width: 60%;
    background-color: #244A5C;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.medical-container {
    .hero-medical {
        background-image: url('/./img/7-ORRoom.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -55px;
     h1, h3 {
         text-align: center;
         color: white;
     }
    }
     .content-container {
     .img1 {
        background-image: url('/./img/12_doorhandle.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img2 {
        background-image: url('/./img/7_Hospitaldoorhandle.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img3 {
        background-image: url('/./img/open-window.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img4 {
        background-image: url('/./img/soap-pump.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img-container {
        position:relative;
        min-height: 600px;
        padding:5%;
    .img5 {
      width: 20%;
      position: absolute;
      left: 30%;
      @media (max-width: 768px) { 
          left: 4.5%;
          position: relative;
          margin: auto;
          display: block;
          width: 250px;
          min-height: 400px;
      }
    }
}
    }
}


.commercial-container {
    .hero-commercial {
        background-image: url('/./img/12_Interiorofficedoor.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -55px;
     h1, h3 {
         text-align: center;
         color: white;
     }
    }
     .content-container {
     .img1 {
        background-image: url('/./img/9_elevatorbuttons.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img2 {
        background-image: url('/./img/open-window.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img3 {
        background-image: url('/./img/soap-pump.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img4 {
        background-image: url('/./img/soap-pump.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img-container {
        position:relative;
        min-height: 600px;
        padding:5%;
    .img5 {
      width: 20%;
      position: absolute;
      left: 30%;
      @media (max-width: 768px) { 
          left: 4.5%;
          position: relative;
          margin: auto;
          display: block;
          width: 250px;
          min-height: 400px;
      }
    }
}
    }
}

.retail-container {
    .hero-retail {
        background-image: url('/./img/10_Grocerycart2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -55px;
     h1, h3 {
         text-align: center;
         color: white;
     }
    }
     .content-container {
     .img1 {
        background-image: url('/./img/11_cardscanner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        float:right;
        min-height: 400px;
    }
    .img2 {
        background-image: url('/./img/doorhandle2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img3 {
        background-image: url('/./img/open-window.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img4 {
        background-image: url('/./img/13_fridgedoors.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }

    .img-container {
        position:relative;
        min-height: 600px;
        padding:5%;
    .img5{
      width: 20%;
      position: absolute;
      left: 30%;
      @media (max-width: 768px) { 
          left: 4.5%;
          position: relative;
          margin: auto;
          display: block;
          width: 250px;
          min-height: 400px;
      }
    }
}
    }
}

.residential-container {
    .hero-residential {
        background-image: url('../img/hero-home.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -55px;
     h1, h3 {
         text-align: center;
         color: white;
     }
    }

     img {
    display: flex;
    flex: 1,1;
    }
    .img1 {
        background-image: url('/./img/fridge-handle.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img2 {
        background-image: url('/./img/garbage-lid.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img3 {
        background-image: url('/./img/soap-pump.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img4 {
        background-image: url('/./img/soap-pump.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding:0;
        min-height: 400px;
    }
    .img-container {
        position:relative;
        min-height: 600px;
        padding:5%;
    .img5 {
      width: 20%;
      position: absolute;
      left: 30%;
      @media (max-width: 768px) { 
          left: 4.5%;
          position: relative;
          margin: auto;
          display: block;
          width: 250px;
          min-height: 400px;
      }
    }
}
}
.grid-img1, .grid-img2,.grid-img3,.grid-img4 {
    width: 200px;
    height: 200px;
    background-image: url('/./img/garbage-lid.png');
    background-size:cover;
    padding: 4%;
    @media (max-width: 768px) { 
        text-align: center;
        margin: 0 auto;
        display: block;
    }
  
}
.grid-img1:hover {
    background-image: url('/./img/2_DoorHandle_AdBlue.jpg');
}
.grid-img2:hover {
    background-image: url('/./img/9_elevatorbuttons.jpg');
}
.grid-img3:hover {
    background-image: url('/./img/10_Grocerycart2.jpg');
}
.grid-img4:hover {
    background-image: url('/./img/11_cardscanner.jpg');
}
.grid-text-desktop {
    display: block;
    @media (max-width: 768px) { 
       display: none;
    }
}
.grid-text-mobile {
    display: none;
    @media (max-width: 768px) { 
        display: block;
    }
}
.logistics-container {
    .card {
        max-width: 80%;
    }
}
footer {
    padding: 3rem 1.5rem;
    .contact-us {
        padding: 0 3%;
    }
    small {
        margin: auto;
        display:block;
    }
    input, button, textarea {
        margin: 3% 0;
    }
}

.img3 {
    background-image: url('/./img/soap-pump.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}
.card {
    .card-footer-item {
        border-right: none;
    }
    .card-footer {
        display: block;
    }
}

.business-type-dropdown {
    display:block;
    margin: 0 auto;
   
    button {
    display:block;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    width: 90%;
    :hover {
        opacity: .5;
    }
  
    }
    .btn-primary.dropdown-toggle:active {
        background-color: transparent;
      
    }

    .dropdown-menu {
        width: 90%;
        text-align: center;
    }
}
button.dropdown-toggle.btn.btn-primary::after {
        display: none;

}
.see-all-business {
    color:#fff;
    cursor: pointer;
    text-align: center;
}
.modal-content {

color: #000;
padding: 5%;
background-color: #fff;
margin: 5% auto;
width: 75% !important;
z-index:999;
overflow: scroll;
height: auto;
li:hover {
    color: #244A5C;
    cursor: pointer;
}
}
.checkbox {
    width: 100%;
}
.checkbox-box {
    margin-right: 3%;
}
    img {
        padding: 2%;
    }
    .blue-background {
        padding: 3%;
        background-color: #EFF6FF;

    }
.Filters {
    color: #186A91;
    cursor: pointer;
}
.tabs {
    display: block;
    overflow-x:hidden;
    .file-upload {
        min-height: 200px;
        border: 1px solid #B4B4B4;
        border-radius: 4px;
    }
}
.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    display: flex;
  }
  
  .tab-list-item {
    
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    color: #244A5C;
    font-weight: bold;
    border-width: 1px 1px 0 1px;
  }

  .cart-background {
    background-image: url('/./img/doorhandle2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 5%;
    margin-top: -55px;
  }
  .shopping-cart-container{
      background-color: #fff;
      opacity: .95;
      padding: 4%;
      width: 80%;
      margin: 2%;
      margin: auto;
      padding: 3%;
      @media (max-width: 768px) { 
         width: 95%;
      }
      table {
          max-width: 100%;
      }
      .blue-button-checkout {
      background-color: #244A5C;
      color: #fff !important;
      border-radius: 4px;
      width: 100%;
      margin: 0;
      
      cursor: pointer;
     
      @media (max-width: 768px) { 
          text-align: center;
          margin: 0 auto;
          display: block;
      }
    }
    .hollow-button-checkout {
        background-color: transparent;
        border: 1px solid #244A5C;
        color: #244A5C;
        width: 100%;
       
    }
  
  }